Pipeline Registers/E_M_Register/work
Pipeline Registers/M_W_Register/work
*.mpf
*.wlf
*.cr.mti
Processor.cr.mti
Processor.mpf
vsim.wlf
work
*.cr.mti
wlft9r68e4
wlftzinqa3
wlfttre1st
wlft1vtft3
wlftz713i5
wlftzan18j
